*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
**build
captures
buck-out
.buckd
.okbuck
.buckconfig.local
**/BUCK
buildSrc/bintray.properties
gen
bin
project.properties
out
.DS_Store
target
pom.xml.*
release.properties
gen-external-apklibs
